.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1b1b1b;
  padding: 1rem 2rem;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.navbar-logo {
  font-size: 2rem;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.navbar-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navbar-links li {
  margin-left: 2rem;
}

.navbar-links li:first-child {
  margin-left: 0;
}

.navbar-links a {
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  letter-spacing: 1px;
  transition: all 0.3s ease-in-out;
}

.navbar-links a:hover {
  color: #f5a623;
}





footer {
  background-color: #1b1b1b;
}

footer > div {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px;
  color: white;
}

footer h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

footer p {
  font-size: 1.2rem;
  margin-bottom: 10px;
}

footer a i {
  font-size: 2rem;
  margin-right: 10px;
  color: white;
}

footer > div > div {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

footer > div > div:last-child {
  margin-right: 0;
}
